.posizione{
    text-align: center;
    background-color:yellowgreen;
}

#nome:hover{
    background-color:yellow;
}

#cognome:hover{
    background-color: yellow;
}

.error {
    border: 2px solid red;
}

.duplicata{
    background-color: red;
}

